h1{text-align: center;
text-decoration: underline;
background-color: pink;
padding:10px;
font-size:45px;
border: 2px dashed white;}

body{background-color: black;
border: 2px solid white;
padding: 20px;
margin: 50px;}

label{font-size:25px;
background-color: lightgreen;
padding:5px;
font-weight: bold;}

div{background-color: orange;
padding:10px;}
p{background-color: yellow;
font-size:20px;}

button{background-color: black;
color:white;
padding:5px;}